body {
    background-color: #0077B6;
  }

/*desktop*/
@media only screen and (min-width: 1025px) {
    .hero {
        position: absolute;
        width: 80%;
        height: 70%;
        left: 12%;
        top: 88px;
        background: #ADE8F4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .hero h2 {
        position: static;
        width: 385px;
        height: 140px;
        left: 10px;
        bottom: 0px;
        top: calc(50% - 140px/2 - 53px);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.7px;
        color: #3F3B3B;
        text-align: left;
    }
    .hero p {
        position: static;
        width: 400px;
        height: 90px;
        left: 0px;
        right: 0px;
        top: 0px; 
        bottom: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        color: #3F3B3B;
    }
    .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 405px;
        height: 246px;
        left: 64px;
        top: 30px;
    }
    .heroImg {  
        position: absolute;
        width: 240px;
        height: 240px;
        left: 72%;
        top: 12%;
        background: linear-gradient(180deg, #4B99FF 0%, #FF8A8A 100%);
        border-radius: 40px;
    }
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 72px;
        position: absolute;
        width: 10%;
        height: 5%;
        top: 75%;
        left:38%;
        left: calc(50% - 266px/2 - 3.5px);
        bottom: 48px;
        background: #023E8A;
        border-radius: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }
}

/*tablet*/
@media only screen and (min-width: 415px) and (max-width: 1024px) {
    .hero {
            position: absolute;
            width: 100%;
            height: 447px;
            left: 0px;
            top: 102px;
            background: #ADE8F4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .hero h2 {
        position: static;
        width: 385px;
        height: 140px;
        left: 10px;
        bottom: 0px;
        top: calc(50% - 140px/2 - 53px);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.7px;
        color: #3F3B3B;
        text-align: left;
    }
    .hero p {
        position: static;
        width: 400px;
        height: 90px;
        left: 0px;
        right: 0px;
        top: 0px; 
        bottom: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        color: #3F3B3B;
        
    }
    .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 405px;
        height: 246px;
        left: 64px;
        top: 30px;
    }
    .heroImg {  
        position: absolute;
        width: 23%;
        height: 42%;
        left: 65%;
        top: 15%;
        background: linear-gradient(180deg, #4B99FF 0%, #FF8A8A 100%);
        border-radius: 40px;
    }
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 72px;
        position: absolute;
        width: 12%;
        height: 5%;
        top: 75%;
        left:38%;
        left: calc(50% - 266px/2 - 3.5px);
        bottom: 48px;
        background: #023E8A;
        border-radius: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        flex: none;
    }
}

/*mobile*/
@media only screen and (max-width: 414px) {
    .hero {
        position: absolute;
        height: 373px;
        left: 0px;
        right: 0px;
        top: 88px;
        background: #ADE8F4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 90%;
        height: 246px;
        left: 55px;
        top: 40px;
    }
    .hero h2 {
        position: static;
        width: 97%;
        height: 96px;
        left: 0px;
        top: calc(50% - 96px/2 - 75px);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
        color: #3F3B3B;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 16px 0px;
        text-align: left;
    }
    .hero p {
        position: static;
        width: 80%;
        height: 134px;
        left: 0px;
        right: 0px;
        top: calc(50% - 134px/2 + 56px);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #3F3B3B;
        text-align: left;
    }
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5% 18%;
        position: absolute;
        width: 30%;
        height: 7%;
        top: 75%;
        left:14%;
        bottom: 48px;
        background: #023E8A;
        border-radius: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        flex: none;
    }
    .heroImg {
        display: none;
    }
}

