.container {
  background-color: #0077b6;
  padding: 10px;
}

.container h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.contactInfo {
  color: white;
  padding: 20px;
  height: 400px;
  width: 350px;
}

.contactInfo a {
  color: white;
}

.inputForm {
  background-color: #caf0f8;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-around;
  margin: 20px;
}

.inputForm h5 {
  text-align: center;
}

.inputForm label input {
  width: 100%;
  border-color: #006eff;
  border-radius: 10px;
  background-color: white;
  color: black;
  border-width: 1px;
}

.submitData {
  align-self: center;
  width: 100px;
  background-color: #023e8a;
  color: white;
  border-radius: 20px;
}

.message {
  height: 100px;
  width: 100%;
  border-color: #006eff;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.icon {
  color: #0077b6;
  background-color: rgba(255, 255, 255, 0.568);
  padding: 2px;
  border-color: #0077b6;
  border-radius: 5px;
}

.instagram {
  color: #d46aa6;
}

.facebook {
  color: #0050f1;
}

@media screen and (min-width: 800px) {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  }

  .sosyalMed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    width: 250px;
    height: 300px;
  }

  .sosyalMed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputForm {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    width: 250px;
    height: 300px;
  }

  .sosyalMed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputForm {
    width: 350px;
    height: 350px;
  }
}
