.donatersMessageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}

.mainProductDetails {
  background: #90e0ef;
  border-radius: 15px;
  width: 45%;
}

.productDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  margin: 5% 0%;
}

.productDetailsText {
  margin: 0% 0% 0% 7%;
}

.productDetailsText > span {
  margin: 0% 0% 1% 2%;
  font-weight: bold;
}

.productDetailsText > p {
  background: #f8f9fa;
  border: 1px solid #006eff;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 3%;
  width: 90%;
}

.productDetailsImage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
}

.productDetailsImage > img {
  width: 75%;
  border-radius: 15px;
  margin: 0% 0% 5% 0%;
}

.messageArea {
  background: #90e0ef;
  border-radius: 15px;
  width: 45%;
}

.donatersMessageText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  width: 100%;
  margin: 5%;
}

.donatersMessageText > span {
  margin: 0% 0% 1% 2%;
  font-weight: bold;
}

.donatersMessageText > p {
  background: #f8f9fa;
  border: 1px solid #006eff;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 3%;
  width: 90%;
}

@media only screen and (min-width: 120px) and (max-width: 531px) {
  .donatersMessageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }

  .mainProductDetails {
    width: 85%;
  }

  .messageArea {
    margin-top: 5%;
    width: 85%;
  }
}
