.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWindow {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 70vw;
  background-color: #ade8f4;
}
