@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #0077b6;
}

#userProfile {
  height: 200px;
  width: 54%;
  background-color: #caf0f8;
  margin-left: 23%;
  align-items: center;
  border-radius: 21px;
  padding: 4%;
}

img {
  float: left;
  width: 100.64px;
  height: 90.64px;
  background-color: blueviolet;
  margin-left: 5%;
  margin-bottom: 0%;
  padding-bottom: 0;
}

#myCont {
  float: right;
  width: 70%;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
  padding-top: 3%;
  margin-right: 5%;
}

h3 {
  color: #212529;
  font-family: Roboto;
  font-style: bold;
  white-space: nowrap;
}

button {
  float: right;
  display: inline;
  width: 47%;
  margin-left: 0;
  margin-right: 0%;
  border: 1px solid #023e8a;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #caf0f8;
  color: #023e8a;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
}
p {
  color: #6c757d;
}
#belowSection {
  margin-left: 5%;
  margin-top: 3%;
}
h5 {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25.16px;
  line-height: 43px;
  color: #495057;
}

hr {
  background-color: #0096c7;
  margin: 0 5%;
}

#navbarCosplay {
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #userProfile {
    width: 66%;
    margin-left: 17%;
  }
}

/*mobile*/
@media only screen and (min-width: 120px) and (max-width: 767px) {
}
