body {
  background-color: #0077b6;
}

.profileRender {
  display: flex;
  justify-content: center;
}

.profilePage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  background-color: #caf0f8;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 20px;
  margin-top: 5%;
  padding: 6%;
  width: 85%;
}

.profilePic > img {
  width: 200px;
  height: 200px;
}

.editBtn > button {
  border: 1px solid #023e8a;
  box-sizing: border-box;
  background-color: #caf0f8;
  color: #023e8a;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  padding: 0 20px;
}

h2,
p {
  color: #212529;
  font-family: Roboto;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .profilePage {
    width: 105%;
  }
}

/*mobile*/
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .profilePage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }

  .texts {
    margin: 5% 0%;
    text-align: center;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
