.productCard{
    border-radius: 10px;
    background-color: #90E0EF;
    margin: 10%;
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.productImage{
    margin-right: 10%;
    border-radius: 5%;
    width: 250px;
}

.pruductDetails{
    margin-left: 5%;
}

.pruductDetails p {
    background-color: #F8F9FA;
    border-style: ridge;
    border-width: 1px;
    border-color: #006EFF;
    border-radius: 5px;
}